[Unit]
Description=Apache Spark Master
After=network.target

[Service]
Type=forking
User={{ owner_name }}
Group={{ group_name }}
ExecStart=/opt/spark/sbin/start-master.sh
ExecStop=/opt/spark/sbin/stop-master.sh

[Install]
WantedBy=multi-user.target